* {
   -webkit-tap-highlight-color: transparent;
}
*,
*:after,
*:before {
   box-sizing: border-box;
}

html, body {
   height: 100%;
   box-sizing: border-box;
}

div, a {
   outline: none;
}


body {
   position: relative;
   min-width: 320px;
   min-height: 100vh;
   font-family: 'Roboto', sans-serif;
   font-size: var(--text-size);
   line-height: 1.4;
   //color: $main-text-color;
   overflow-x: hidden;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   box-sizing: border-box;
   //opacity: 1;
   //transform: none;
   //transition: opacity 1s, transform .5s;
}



img {
   display: block;
   max-width: 100%;
   height: auto;
   -webkit-user-select: none;
   -moz-user-select: none;
   /*IE10*/
   -ms-user-select: none;
   user-select: none;
   /*Android and not desktop browsers*/
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


video {
   outline: none;
}

.user-list{
   margin-left: 30px;
}

ol {
   &.user-list {
      list-style: decimal;
   }
}

ul{
   &.user-list {
      list-style: disc;
   }
}

.unordered-list {
   list-style: disc;
   margin-left: 30px;
}

a {
   text-decoration: none;
   color: var(--black);
   &.dark-bg {
      color: var(--white);
      &:visited {
         color: var(--white)
      }
   }
   &:visited, {
      color: var(--black)
   }
}

b {
   font-weight: 600;
}

i {
   font-style: italic;
}

button {
   box-shadow: none;
   border: none;
   background-color: transparent;
}

.nowrap {
   white-space: nowrap;
}


//.icons {
//   width: 20px
//   height: 20px
//}
//

.hide {
   display: none !important;
}



.rel {
   position: relative;
   width: 100%;
   &-child {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0
   }

   &::before {
      display: block;
      content: '';
   }
   &_16-9::before {
      padding-top: 56.25%
   }
}

.alert-small {
   display: none;
   @media(max-width: 568px) {
      display: block;
   }
}



input::-ms-clear {
   display: none;
}


input[type="text"], textarea {
   -webkit-appearance: none;
   //-webkit-border-radius: 0;
   outline: none;
   cursor: text !important;
}


input[type="radio"] + label,
input[type="checkbox"] + label {
   cursor: pointer !important;
}


input::-webkit-input-placeholder {
   color: var(--placeholder-color)
}
input::-moz-placeholder {
   color: var(--placeholder-color)
}
input:-moz-placeholder {
   color: var(--placeholder-color)
}
input:-ms-input-placeholder {
   color: var(--placeholder-color)
}


input:focus,
textarea:focus {
   outline: none;
}


input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
   color: transparent
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
   color: transparent
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
   color: transparent
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
   color: transparent
}


.user-table {
   font-size: var(--subtitle-size);
   border: 1px solid var(--black);
   .row {
      display: flex;
      border-bottom: 1px solid var(--black);
      &.head {
         font-weight: 600;
      }
      &:last-child {
         border: none
      }
   }
   .col {
      padding: 16px 40px;
      &:first-child {
         width: 70%;
         border-right: 1px solid var(--black);
      }
      &:last-child {
         flex-grow: 1;
         text-align: center;
      }
   }
   @media (max-width: 480px) {
      font-size: 14px;
   }
}

.vue-select {
   width: 100%;
   padding: 10px 16px;
   background-color: var(--white);
   border: 1px solid black;
   border-radius: 0;

   .arrow-downward {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      color: transparent;

      border:none;
      border-right: 2px solid var(--blue);
      border-bottom: 2px solid var(--blue);
      transform: rotate(45deg);
      transform-origin: center center;
      @media(max-width: 768px) {
         width: 6px;
         height: 6px;
      }

      &.active {
         transform: rotate(225deg);
      }
   }

   .vue-input {
      padding: 0;
      input {
         font-size: var(--text-size-big);
         &::placeholder {
            color: var(--black);
         }
      }
   }

   .vue-dropdown {
      .vue-dropdown-item {
         color: var(--black);
         padding: 10px 16px;
         &.selected {

         }
         &.highlighted {
            background-color: var(--orange);
         }
      }
   }
}

.swiper-pagination {
   &.swiper-pagination-bullets {

      .swiper-pagination-bullet {
         width: 8px;
         height: 8px;
         background-color: #f4f4f4;
         opacity: .68;
         box-shadow: 0 0 9px 3px rgba(0, 0, 0, .2);

         &.swiper-pagination-bullet-active {
            opacity: 1;
            background-color: white;
         }
      }
   }
}


@media(max-width: 768px) {
   .user-table{
      .col {
         padding: 10px 20px;
      }
   }
}
@media(max-width: 568px){
   .user-table{
      border: none;
      border-top: 1px solid var(--black);
      .row {
         border-bottom: none;
         flex-direction: column;
      }
      .col {
         border-bottom: 1px solid var(--black);
         &:first-child {
            width: 100%;
            border-right: none;
         }
      }
   }
}
@media(max-width: 480px) {
   .user-table {
      .col {
         padding: 10px 10px;
      }
   }
}

