body {
   // COLORS
   --white: #fff;
   --black: #000;
   --darc: #273043;



   --orange: #FFD157;
   --dark-orange: #FFC222;

   --light-blue: #102F51;
   --blue: #0D2742;
   --dark-blue: #061421;
   --extra-blue: #030a11;

   --brown: #404040;

   --placeholder-color: black;


   // OFFSETS
   --page-offset-top: 60px;


   // TYPOGRAPHY
   --title-size: 32px;
   --article-text-size: 24px;
   --subtitle-size: 20px;
   --text-size-big: 18px;
   --text-size: 16px;
   --text-small-size: 14px;


   // SHADOWS
   --card-shadow: 2px 20px 24px 1px rgba(0, 0, 0, 0.3);
   --card-shadow-hover: 2px 20px 24px 1px rgba(0, 0, 0, 0.55);

   --card-shadow-shifted: 4px 4px 22px 6px rgba(0, 0, 0, 0.2);
   --card-shadow-shifted-hover: 4px 4px 22px 6px rgba(0, 0, 0, 0.55);
   --button-shadow: 0 21px 19px -14px rgba(0, 0, 0, 0.22);
   --image-shadow: 11px 10px 0px 0px rgba(255, 209, 87, 1);


   // LAYOUT
   --wrapper: 1400px;
   --wrapperMargins: 70px;

   @media(max-width: 992px) {
      --wrapperMargins: 60px;

      --title-size: 25px;
      --article-text-size: 20px;
      --subtitle-size: 18px;
   }
   @media(max-width: 768px) {
      --wrapperMargins: 50px;

      --title-size: 23px;
      --article-text-size: 16px;
      --subtitle-size: 16px;
      --text-size-big: 16px;

      --image-shadow: 8px 8px 0px 0px rgba(255, 209, 87, 1);
   }
   @media(max-width: 568px) {
      --wrapperMargins: 40px;

      --title-size: 22px;
      --text-size-big: 14px;
      --text-size: 14px;

   }
   @media(max-width: 480px) {
      --wrapperMargins: 30px;

      --title-size: 20px;
      --article-text-size: 14px;
      --subtitle-size: 14px;
   }
   @media(max-width: 420px) {
      --wrapperMargins: 12px;

      --title-size: 16px;
      --text-size-big: 12px;
      --text-size: 12px;
   }
}

